*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1194px;
    margin: 0 auto;
    padding: 0 24px;
}
.header{
    margin-top: 34px;


}
.header-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-title{
    margin: 0;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase ;
}
.header-text{
    margin: 0;
    font-family: Inter,sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
}
.header-link{
    font-family: Inter,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
    color: black;
}
.header-link:hover{
    color: red;
}
.header{
    margin-bottom: 15px;
}
.header-controls--mobile{
    display: none;
    align-self: flex-start;

}
.search-box{
    border-radius: 5px;
    background: rgb(255, 73, 73);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    gap: 3px;
    height: 44px;
}


.search-input{
    flex-grow: 1;
    border-radius: 3px;
    border: none;
    font-family: Inter,sans-serif;
    background: rgb(255, 255, 255);
    width: 1036px;
    height: 100%;
    left: 150px;
    top: 93px;
    padding: 0 30px;
    min-width: 0;
    
}
.search-btn{
    height: 100%;
    display: flex;
    background: rgb(255, 73, 73);
    border: none;
    align-items: center;
    gap: 10px;
    color: white;
    font-family: Inter,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: left;
    cursor: pointer;
    outline: none;
}


@media (max-width:768px){
    .header-controls{
        display: none;
    }
    .header-controls--mobile{
        display: block;

    }

    .search-input{
        padding: 0 15px;
    }
}

